@import '../../styles/variables';

.featuredItems {
  margin: 50px;
  padding: 50px 0;
}

.wrapper {
  position: relative;
  padding: 50px;
  background-color: $background;
  border-radius: 10px;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.arrows {
  position: absolute;
  top: 50px;
  right: 50px;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.arrowLeft {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin-right: 10px;
}

.arrowRight {
  background-image: $gradient;
  box-shadow: 1px 1px 10px $primary;
  color: white;
}