@import '../../styles/variables';

.featuredItems {
  margin: 50px;
  padding: 50px 0;
}

.background {
  width: 100%;
  height: 100%;
  background-color: $background;
  border-radius: 10px;
}

.wrapper {
  position: relative;
  padding: 50px;
  max-width: 1500px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.arrows {
  position: absolute;
  top: 50px;
  right: 50px;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 2.5px;
}

.arrowLeft {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin-right: 10px;
}

.arrowRight {
  background-image: $gradient;
  box-shadow: 1px 1px 10px $primary;
  color: white;
}

.heading {
  font-size: 2rem;
  color: $black;
}