@import '../../styles/variables';
@import '../../styles/mixins';

$v-padding: 15px;
$h-padding: 30px;

.form {
  position: relative;
  width: max-content;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.email {
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  padding: $v-padding $h-padding $v-padding 60px;
  width: 420px;
  max-width: calc(100vw - 60px);
  outline: none;
  &:hover, &:focus {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  }
}

.icon {
  background-image: url("../../images/email.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 11px;
  width: 20px;
  display: inline-block;
  margin-right: 7.5px;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $h-padding;
  color: $grey;
}

.button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 11px 25px;
  color: white;
  background-image: $gradient;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 1px 5px $primary;
  cursor: pointer;
  margin-left: 15px;
  @include respond-to('tablet') {
    padding: 11px 35px;
  }
  &:hover, &:focus {
    background-image: $hoverGradient;
  }
}