@import '../../styles/variables';
@import '../../styles/mixins';

$v-padding: 15px;
$h-padding: 30px;

.form {
  position: relative;
  width: max-content;
  font-size: 0.875rem;
  margin: 0;
}

.email {
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  padding: $v-padding $h-padding;
  width: 325px;
  max-width: calc(100vw - 60px);
}

.icon {
  background-image: url("../../images/email.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 11px;
  width: 20px;
  display: inline-block;
  margin-right: 7.5px;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $h-padding;
  color: $grey;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  padding: $v-padding 30px;
  color: white;
  background-image: $gradient;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px $primary;
  cursor: pointer;
  margin-left: 15px;
  @include respond-to('tablet') {
    position: initial;
    padding: $v-padding 40px;
  }
}