@import '../../styles/variables';

.card {
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px 30px 20px 70px;
  text-align: left;
  width: 370px;
  height: max-content;
}

.image {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  background-color: $grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  margin: 0 10px 5px 0;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
}

.location {
  font-size: 0.75rem;
  color: $light;
  margin: 0;
  display: inline;
}

.description {
  color: $grey;
  font-size: 1rem;
  line-height: 1.5;
  margin: 5px 0 5px;
}

.star {
  display: inline-block;
  color: $secondary;
  font-size: 1.5rem;
  cursor: default;
}

.smallCard {
  width: 325px;

  .image {
    width: 75px;
    height: 75px;
    left: -37.5px;
  }

  .description {
    margin: 0;
  }
}