@import '../../styles/variables';
@import '../../styles/mixins';

.appDescription {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  @include respond-to('tablet-large') {
    margin: 0;
  }
}

.heading {
  color: $black;
  margin-bottom: 20px;
  max-width: 470px;
}

.subheading {
  color: $grey;
  line-height: 2;
  margin-bottom: 40px;
  max-width: 450px;
}

.card {
  display: grid;
  grid-template-columns: 30px auto;
  max-width: 380px;
  column-gap: 20px;
}

.icon {
  position: relative;
  background-image: $gradient;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  &::after {
    content: "";
    @include centered;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.title {
  color: #4d4d4d;
  margin: 0 0 10px 0;
}

.description {
  color: $light;
  line-height: 1.5;
  @include respond-to('tablet-large') {
    font-size: 1rem;
  }
}