@import '../../styles/variables';
@import '../../styles/mixins';

.recipeMenu {
  padding-top: 100px;
  margin: 50px 50px 100px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: max-content;
}

.tab {
  margin-top: 40px;
}

.tablink {
  background-color: transparent;
  border: none;
  color: $light;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0;
  margin-right: 35px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  width: calc(100vw - 100px);
  max-width: 1290px;
  margin-top: 60px;
  @include respond-to('tablet') {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: calc(100vw - 100px);
  }
}

.nuts, .nutsBottom {
  position: absolute;
  width: 190px;
}

.nuts {
  top: -25px;
  right: -65px;
  transform: rotate(140deg);
}

.nutsBottom {
  bottom: -160px;
  left: -130px;
}