@import '../../styles/variables';

.recipeMenu {
  padding-top: 100px;
  margin: 50px 50px 100px;
}

.wrapper {
  margin: 0 auto;
  width: max-content;
}

.tab {
  margin-top: 40px;
}

.tablink {
  background-color: transparent;
  border: none;
  color: $light;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0;
  margin-right: 35px;
}

.grid {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  column-gap: 30px;
  row-gap: 30px;
  max-width: 1290px;
  margin-top: 60px;
}