@import '../../styles/variables';

$cardHeight: 300px;

.card {
  height: $cardHeight;
  min-width: $cardHeight;
  width: $cardHeight;
  max-width: $cardHeight;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.image {
  width: 90px;
  height: 90px;
  background-color: $primary;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.title {
  font-weight: 900;
  margin-bottom: 10px;
}

.description {
  color: $grey;
  font-size: 0.875rem;
}