@import '../../styles/variables';
@import '../../styles/mixins';

$cardHeight: 300px;

.card {
  height: max-content;
  width: 250px;
  max-width: 25vw;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  @include respond-to('tablet-large') {
    max-width: auto;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    padding: 30px;
  }
  @include respond-to('desktop') {
    height: $cardHeight;
    width: $cardHeight;
  }
  @include respond-to('widescreen') {
    height: 325px;
    width: 350px;
  }
}

.image {
  position: relative;
  width: 90px;
  height: 90px;
  max-width: 20vw;
  max-height: 20vw;
  margin: 0 auto 20px;
  @include respond-to('widescreen') {
    height: 110px;
    width: 110px;
  }
}

.icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.title {
  font-weight: 900;
  font-family: 'Lato';
  margin: 25px auto 15px;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  @include respond-to('tablet') {
    font-size: 1.25rem;
  }
  @include respond-to('widescreen') {
    font-size: 1.375rem;
  }
}

.description {
  display: none;
  color: $grey;
  font-size: 1rem;
  line-height: 1.5;
  @include respond-to('tablet') {
    display: block;
  }
}