@import './variables';

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translateY(-50%);
}

.heading {
  color: $black;
  font-size: 3.5rem;
  line-height: 1.25;
}

.subheading {
  font-size: 1rem;
  color: $light;
  line-height: 2;
  max-width: 500px;
}

.background {
  position: absolute;
  right: 50px;
  bottom: -200px;
  background-color: $background;
  height: calc(60vh + 200px);
  width: 35vw;
  border-radius: 15px;
  z-index: -1;
}

.image {
  position: absolute;
  top: -32.5%;
  left: -45%;
  width: 575px;
}