@import '../styles/mixins';

h2 {
  font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (800 - 320)));
  
  @include respond-to('tablet') {
    font-size: 3rem;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.75;
  @include respond-to('tablet-small') {
    font-size: 1.125rem;
    line-height: 1.75;
  }
}