@import '../styles/mixins';

.container {
  width: max-content;
}

.social {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  background-color: white;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.instagram, .facebook, .twitter {
  width: 20px;
  height: 20px;
  @include centered;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('../images/instagram.svg');
}

.facebook {
  background-image: url('../images/facebook.svg');
}

.twitter {
  background-image: url('../images/twitter.svg');
}