@import '../styles/variables';
@import '../styles/mixins';

.about {
  padding-top: 100px;
  margin: 50px 20px 50px;
  text-align: center;
  @include respond-to('desktop') {
    margin: 50px 50px 150px;
  }
}

.heading {
  color: $black;
  margin-bottom: 15px;
}

.subheading {
  color: $grey;
  max-width: 450px;
  margin: 0 auto;
  font-size: 1.125rem;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  width: max-content;
  margin: 50px auto 0;
  @include respond-to('tablet-small') {
    column-gap: 30px;
  }
  @include respond-to('tablet-large') {
    column-gap: 50px;
    margin-top: 90px;
  }
}

.nuts {
  top: -150px;
  left: -175px;
  width: 350px;
  transform: scaleX(-1);
}

.parsley {
  bottom: -95px;
  right: -165px;
  width: 310px;
  z-index: -1;
}

.nuts, .parsley {
  position: absolute;
  display: none;
  @include respond-to('tablet-large') {
    display: block;
  }
}