@import '../styles/variables';
@import '../styles/mixins';

.about {
  padding-top: 100px;
  margin: 50px 20px 150px;
  text-align: center;
  @include respond-to('tablet') {
    margin: 50px 50px 150px;
  }
}

.heading {
  color: $black;
  margin-bottom: 20px;
}

.subheading {
  color: $grey;
  line-height: 2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  width: max-content;
  margin: 60px auto 0;
  @include respond-to('tablet-small') {
    column-gap: 30px;
  }
  @include respond-to('tablet-large') {
    column-gap: 50px;
  }
}