@import '../styles/variables';
@import '../styles/mixins';

.features {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 20px;
  @include respond-to('tablet-large') {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1100px;
    margin-left: 100px;
  }
  @include respond-to('desktop') {
    width: 75%;
    margin: 0 auto;
    padding: 100px 0 50px;
  }
}

.featuresLeft {
  transform: scale(0.9);
  min-width: max-content;
  width: max-content;
  margin: 0 auto;
  display: none;
  @include respond-to('tablet') {
    display: flex;
  }
  @include respond-to('tablet-large') {
    transform: scale(1);
  }
  @include respond-to('desktop') {
    min-width: 1100px;
    width: 75%;
    padding-bottom: 150px;
  }
}

.background {
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  background-color: $background;
  height: 375px;
  width: 300px;
  border-radius: 10px;
  z-index: -1;
  right: -50px;
  display: none;
  @include respond-to('desktop') {
    display: block;
  }
}

.image {
  display: none;
  position: relative;
  width: 570px;
  @include respond-to('tablet-large') {
    display: block;
  }
  @include respond-to('widescreen') {
    width: 650px;
  }
}

.phone {
  position: relative;
  width: 300px;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.phoneContainer {
  margin: 0 auto;
  @include respond-to('desktop') {
    margin: 0 0 0 -50px;
    position: relative;
  }
}
.nuts {
  position: absolute;
  top: -60px;
  left: -335px;
  width: 850px;
}

.parsley {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 290px;
}

.basil {
  position: absolute;
  width: 135px;
  bottom: -45px;
  left: -55px;
}

.appDescription {
  display: none;
  @include respond-to('desktop') {
    display: block;
  }
}