@import '../styles/variables';
@import '../styles/mixins';

.features {
  position: relative;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background {
  position: absolute;
  top: calc(50%);
  right: -50px;
  transform: translateY(-50%);
  background-color: $background;
  height: 375px;
  width: 300px;
  border-radius: 10px;
  z-index: -1;
}

.image {
  position: relative;
  width: 570px;
}

.phone {
  width: 300px;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.nuts {
  position: absolute;
  top: -60px;
  left: -335px;
  width: 850px;
}

.parsley {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 290px;
}