@import '../styles/variables';
@import '../styles/mixins';

.features {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0;
  @include respond-to('tablet-large') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin-left: 100px;
  }
  @include respond-to('desktop') {
    width: 75%;
    margin: 0 auto;
  }
}

.background {
  position: absolute;
  top: calc(50%);
  right: -50px;
  transform: translateY(-50%);
  background-color: $background;
  height: 375px;
  width: 300px;
  border-radius: 10px;
  z-index: -1;
}

.image {
  position: relative;
  width: 570px;
  @include respond-to('widescreen') {
    width: 650px;
  }
}

.background, .image {
  display: none;
  @include respond-to('tablet-large') {
    display: block;
  }
}

.phone {
  width: 300px;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.nuts {
  position: absolute;
  top: -60px;
  left: -335px;
  width: 850px;
}

.parsley {
  position: absolute;
  bottom: 10px;
  left: -10px;
  width: 290px;
}

.basil {
  position: absolute;
  width: 135px;
  bottom: -45px;
  left: -55px;
}