@import '../styles/variables';
@import '../styles/mixins';

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 75%;
  height: max-content;
  @include centered;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  color: $black;
  font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (800 - 320)));
  line-height: 1.25;
  @include respond-to('tablet-large') {
    font-size: 4rem;
  }
}

.subheading {
  font-size: 1.125rem;
  color: $light;
  line-height: 2;
  max-width: 500px;
  margin-bottom: 40px;
}

.background {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $background;
  height: 50%;
  width: 35vw;
  border-radius: 15px;
  z-index: -1;
}

.image {
  width: 664px;
  margin-right: -50px;
}