@import '../styles/variables';
@import '../styles/mixins';

.intro {
  display: none;
  @include respond-to('tablet') {
    padding-top: 75px;
    display: block;
    margin: 50px;
  }
  @include respond-to('desktop') {
    margin-bottom: 100px;
    padding-top: 200px;
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 220px;
  margin: 0 auto;
  max-width: 1200px;
  @include respond-to('desktop') {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.container {
  max-width: 450px;
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0 auto;
  @include respond-to('desktop') {
    margin: auto 0 0 auto;
    text-align: left;
    grid-column: 3 / 4;
  }
}

.heading {
  color: $black;
}

.text {
  color: $grey;
  line-height: 1.75;
  margin: 0;
}

.nuts {
  position: absolute;
  top: -175px;
  left: -350px;
  width: 420px;
  transform: scaleX(-1);
  z-index: -1;
}