@import '../styles/variables';

.testimonials {
  text-align: center;
  margin: 50px 50px 100px;
  padding-top: 100px;
}

.subheading {
  color: $light;
  line-height: 2;
}
.grid {
  display: grid;
  grid-template-columns: 325px 370px 325px;
  column-gap: 50px;
  row-gap: 30px;
  width: max-content;
  margin: 75px auto 0;
}