@import '../../styles/variables';

.button {
  background-image: $gradient;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  border: none;
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-bottom: 2.5px;
  font-weight: bold;

  &:hover, &:focus {
    background-image: $hoverGradient;
  }
}