@import '../../styles/variables';
@import '../../styles/mixins';

.app {
  padding-top: 100px;
  margin: 0;
  @include respond-to('tablet') {
    margin: 0 0 80px;
  }
  @include respond-to('tablet-large') {
    margin: 0 50px 80px;
  }
}

.wrapper {
  background-color: #f9f9f9;
  padding: 100px 0;
  border-radius: 20px;
}

.phone {
  position: absolute;
  top: -60px;
  width: 255px;
  background-color: white;
  border-radius: 50px;
  display: none;
  @include respond-to('tablet') {
    display: block;
  }
}

.grid {
  width: max-content;
  max-width: 90%;
  margin: 0 auto;
  @include respond-to('tablet') {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 300px auto;
    margin: 0 auto 0 -100px;
  }
  @include respond-to('tablet-large') {
    margin: 0 auto 0 30px;

  }
  @include respond-to('desktop') {
    column-gap: 30px;
    margin: 0 auto;
  }
}

.heading {
  color: $black;
  margin-bottom: 0;
}

.text {
  color: $light;
  line-height: 2;
  margin: 15px 0 25px;
  max-width: 450px;
  @include respond-to('tablet-small') {
    margin: 20px 0 30px;
  }
}

.basil {
  position: absolute;
  width: 275px;
  bottom: 50px;
  left: -220px;
}