@import '../../styles/mixins';
@import '../../styles/variables';

.nav {
  width: auto;
  max-width: 600px;
  margin-left: 10px;
  @include respond-to('tablet-large') {
    width: 60vw;
  }
}

.list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  transition: color 0.5s;

  @include respond-to('tablet-large') {
    justify-content: space-between;
  }

  & > li:hover > a:not(.cta), & a:not(.cta):focus {
    color: $primary;
  }
}

.active {
  display: none;
  @include respond-to('tablet-small') {
    display: block;
  }
}

li:not(.active) {
  display: none;
  @include respond-to('tablet-large') {
    display: block;
  }
}

.cta {
  padding: 10px 20px;
  border-radius: 20px;
  background-image: $gradient;
  box-shadow: 2px 2px 10px $primary;
  color: white;
}