@import '../../styles/variables';

$cardWidth: 315px;
$imageSize: $cardWidth - 10px;

.card {
  position: relative;
  height: $cardWidth;
  min-width: $cardWidth;
  width: $cardWidth;
  max-width: $cardWidth;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  padding: 160px 40px 40px;
  border-radius: 20px;
}

.image {
  position: absolute;
  top: calc((#{$imageSize}) - (#{$imageSize}) * 1.5);
  left: 50%;
  transform: translateX(-50%);
  width: $imageSize;
  height: $imageSize;
  border-radius: 50%;
}

.title {
  font-weight: 900;
  font-size: 1.375rem;
  margin-bottom: 0;
}

.description {
  color: $grey;
  margin: 5px 0;
  line-height: 1.25;
}

.info {
  color: $secondary;
  font-size: 1rem;
  font-weight: 600;
}