@import '../../styles/variables';

$cardWidth: 300px;
$imageSize: $cardWidth - 30px;

.card {
  position: relative;
  height: calc(#{$cardWidth} * 1);
  min-width: $cardWidth;
  width: $cardWidth;
  max-width: $cardWidth;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  padding: 160px 30px 30px;
  border-radius: 20px;
}

.image {
  position: absolute;
  top: calc((#{$imageSize}) - (#{$imageSize}) * 1.5);
  left: 50%;
  transform: translateX(-50%);
  width: $imageSize;
  height: $imageSize;
  background-color: #333;
  border-radius: 50%;
}

.title {
  font-weight: 900;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.description {
  color: $grey;
  margin: 0;
}

.info {
  color: $secondary;
  font-size: 0.875rem;
  font-weight: 600;
}